.container{
  width: 1200px;
  margin: 0 auto;
}
.btn{
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover{
  color: #ccc;
}
.btn:active{
  opacity: 0.5;
}

.ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar {
  margin-bottom: 0;
}
.ant-tabs-content{
  /* padding: 10px; */
  background: #fff;
  border: 1px solid #eee;
  border-top: none;
}
.ant-modal .params-list{
  font-size: 16px;
}
.ant-modal .params-list .param-item{
  margin-bottom: 10px;
}
.ant-modal .params-list .param-item input{
  border: 1px solid #eee;
  padding-left: 10px;
}
.ant-modal .params-list .param-item .param-name{
  display: inline-block;
  width: 100px;
}