.container{
  width: 1200px;
  margin: 0 auto;
}
.btn{
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover{
  color: #ccc;
}
.btn:active{
  opacity: 0.5;
}

.ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar {
  margin-bottom: 0;
}
.ant-tabs-content{
  /* padding: 10px; */
  background: #fff;
  border: 1px solid #eee;
  border-top: none;
}